.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
}

.swiperContainer {
  width: 100%;
}

.swiperItems {
  display: flex;
  justify-content: center;
}
